<!-- views/partials/navbar.ejs -->
<link rel="stylesheet" href="/stylesheets/userMoney.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<nav class="navbar">
    <div class="money-badge" style="position:relative;">
      <% if (typeof userMoney !== 'undefined') { %>
        <img src="/images/coin.png" alt="코인" class="coin-icon">
        <span id="userMoney"><%= userMoney %></span>
      <% }%>
    </div>
  </nav>