<!-- views/partials/navbar.ejs -->
<link rel="stylesheet" href="/stylesheets/userMoney.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<nav class="navbar">
  <% if (typeof userMoney !== 'undefined') { %>
    <div class="money-badge" style="position:relative;">
        <img src="/images/coin.png" alt="코인" class="coin-icon">
        <span id="userMoney"><%= userMoney %></span>
    </div>
  <% }%>
</nav>