<!DOCTYPE html>
<html>
<head>
  <title>๋ฉ์ธ ํ์ด์ง</title>
</head>
<body>
  <h1>๋ฉ์ธ ํ๋ฉด</h1>

  <% if (isAuthenticated) { %>
    <p>๐ <strong><%= user.user_id %></strong>๋, ํ์ํฉ๋๋ค!</p>
    <a href="/users/logout">๋ก๊ทธ์์</a>
  <% } else { %>
    <p>๐ ๋ก๊ทธ์ธํ์ง ์์ ์ฌ์ฉ์์๋๋ค.</p>
    <a href="/users/login">๋ก๊ทธ์ธ</a>
    <a href="/users/signup">ํ์๊ฐ์</a>
  <% } %>
</body>
</html>
