<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 확인</title>
  <link rel="stylesheet" href="/stylesheets/myPage.css">
</head>
<body>
  <div class="forest-bg"></div>

  <a href="/" class="home-button">
    <img src="/images/home_icon.png" class="home-icon" alt="">
  </a>
  <a href="javascript:history.back()" class="close-button">
    <img src="/images/close_icon.png" class="close-icon" alt="">
  </a>

  <div class="mypage-wrapper">
    <div class="info-check-container">
      <h2>비밀번호 확인</h2>
      <form class="info-check-form" action="/mypage/check-password" method="POST">
        <input type="hidden" name="nextUrl" value="<%= nextUrl %>">
        <label for="password">비밀번호를 입력하세요</label>
        <input type="password" id="password" name="password" required>
        <% if (error) { %>
          <div class="error-msg"><%= error %></div>
        <% } %>
        <button type="submit">확인</button>
      </form>
    </div>
  </div>
</body>
</html>
