<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 재설정</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
</head>
<body>
  <div class="forest-bg"></div>
  <div class="reset-container">
    <h1>새 비밀번호 설정</h1>
    <% if (error && error.length > 0) { %>
      <div class="message error"><%= error[0] %></div>
    <% } %>
    <form class="reset-form" action="/users/reset-password/<%= user_id %>/<%= token %>" method="POST">
      <label>새 비밀번호</label>
      <input type="password" name="password" required>
      <button type="submit">변경하기</button>
    </form>
  </div>
</body>
</html>
