/* 학습 진행 화면 */

body {
  background-color: #FFFCF5;
  margin: 0;
  padding: 0;
  font-family: 'Cafe24Dongdong';
}

.learning-container {
  width: 100%;
  height: 100%;
  margin: 80px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.card {
  width: 1000px;
  height: 100%;
  border-radius: 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.09);
  background-color: #FFE89F52;
  cursor: pointer;
}

/* 학습 카드 안 내용 */
.card-body {
  padding: 60px;
  font-family: 'NanumSquareRound';
  font-size: 1.13rem;
  color: #444;
  text-align: center;
  line-height: 1.7;
  cursor: default;
}

.card-title { font-family: 'Cafe24DongDong'; }

img {
  width: 600px;
  height: auto;
  margin-top: 6%;
  object-fit: contain;
}

.icon { margin: 98.38px 0 0 0; }

h2 {
  font-size: 160px;
  margin: 60px 0 119.02px 0;
}

p { font-size: 32px; }

hr { border: none; }

button { background-color: none; }

/* 양 옆 화살표 */
.arrow {
  position: relative;
  /* border: solid #333; */
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 6px;
  background-color: #333;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform-origin: 2px center;
}

/* 왼쪽 화살표 */
.left::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.left::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* 오른쪽 화살표 */
.right::before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.right::after {
  transform: translate(-50%, -50%) rotate(225deg);
}

/* .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
} */

/* money-badge 안 보이도록 */
.money-badge, .coin-icon { display: none; }

/* 대신 인디케이터 보이도록 설정 */
.indicator {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  gap: 64px;
}

.indicator-dot {
  width: 54px;
  height: 54px;
  padding: 8px;
  border-radius: 50%;
  background-color: #D9D9D9;
  color: #ABABAB;
  font-family: 'NanumSquareRound';
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* 학습 완료 버튼 */
#completeBtn {
    width: 200px;
    height: 80px;
    margin: 30px 0 0 0;
    padding: 12px 24px 20px;
    border: none;
    border-radius: 60px;
    background-color: #F9CF45;
    font-family: 'NanumSquareRound';
    font-size: 28px;
    font-weight: 900;
    color: #F5F5F5;
    cursor: pointer;
    text-align: center;
    box-shadow:inset 0 -3.74px 0 0 #F3C83A, 0 3px 0 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    display: inline-block;
}

#completeBtn:hover,
#completeBtn:active {
    color: #E4AF00;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}