<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도니머니 퀴즈 풀기</title>
    <link rel="stylesheet" href="/stylesheets/quizTypeList.css">
</head>
<body>
    <div class="quizType-wrapper">
        <div class="quizType-container">
            <div class="card" id="learningCard" onclick="location.href='/game/school/quiz/select/general'">
                <h2>일반 모드</h2>
                <p>스토리 모드, 학습 모드에서<br>배운 내용만 퀴즈쇼!</p>
            </div>
            <div class="card" id="randomCard" onclick="location.href='/game/school/quiz/select/random'">
                <h2>랜덤 모드</h2>
                <p>공부한 내용을 바탕으로<br>랜덤 퀴즈쇼!</p>
            </div>
        </div>
        <p class="bottom-text">풀고 싶은 퀴즈 모드를 선택해 주세요!</p>
    </div>
</body>
</html>